/*
 Theme Name:   Genesis Child
 Theme URI:    
 Description:  Genesis Child Theme
 Author:       Jhon Rey L. Ranario
 Author URI:   http://ohsomedevs.com
 Template:     genesis
 Version:      1.0.0
 License:      General Public License v2 or later
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  genesis-child
*/

/*#fc5a1b - orange */

/* ---------* Fonts *---------------- */
@import url('assets/css/fonts.css') screen;
@import url('assets/css/plugins.css') screen;
/* ---------* end: Fonts *----------- */

/* ---------* Reset CSS *------------ */
* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}
body {
    font-family:  raleway-reg, arial, sans-serif;   
}
h1,h2,h3,h4,h5,h6,p { margin: 0; }
h1 { 
    font-size: 2.2em; 
} 
h2 { 
    font-size: 2.0em;     
} 
h3 { 
    font-size: 1.8em; 
} 
h4 { 
    font-size: 1.6em;     
} 
h5 { 
    font-size: 1.4em;     
} 
p { 
    font-size: 1.2em;     
}
/*
/* ---------* end: Reset CSS *------- */

/* ---------* Loading Screen *-------- */
/* ---------* End: Loading Screen *--- */

/* ---------* Header *---------------- */
header.hasScrolled #top {
    top: -50px;
}
header.hasScrolled #top-content .navbar {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #000;
}
header.hasScrolled #top-content .navbar #main-menu > li > a {
    padding: 20px 13px;
}
header.hasScrolled #top-content .navbar-brand>img {
    height: 100%;
    width: 66%;
}
#top {
    position: relative;
    top: 0;
    background: #333;
    color: #fff;
    padding: 15px 0px;
    transition: all 0.5s ease-in-out;
    webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
#top .contact-info > * {
    display: inline-block;
}
#top .contact-info > div:last-child {
    /*margin-left: 15px;*/
}
#top .secondary-nav ul {
    margin: 0;
}
#top .secondary-nav ul li {
    display: inline-block;
}
#top .secondary-nav ul li a {
    padding: 0 8px;
    text-transform: uppercase;
    font-size: 9px;
    color: #fff;
    font-family: raleway-bd;
    text-decoration: none;
}
#top .secondary-nav ul li:last-child a {
    border: 1px solid #FC5A1B;
    border-radius: 6px;
    padding: 2px 12px;
    background: #FC5A1B;    
}
#top-content {
    position: relative;
}
#top-content .navbar {
    position: relative;
    z-index: 999;
    background: rgba( 0,0,0,0.5 );
    border-radius: 0;
    border: none;
}
#top-content .banner-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
}

/* ---------* end: Header *----------- */


/* ---------* Body *------------------ */
#banner-wrapper {
    background-color: #eeeeee;
}
#main-container {
    padding-top: 110px;
}
#main-container > .container {
    margin-bottom: 95px;
}
#main-container article h1,
#main-container article h1 a {
    text-align: center;
    font-size: 48px;
    font-family: Opensans-bd;
    color: #222;
    text-transform: uppercase;
    text-decoration: none;
}
#main-container article p {
    color: #666;
    font-size: 16px;
    line-height: 32px;
}
.sidebar .row_sb h3 {
    text-transform: uppercase;
    font-family: raleway-bd;
    margin-bottom: 25px;
    border-bottom: 2px dotted #e1e1e1;
    padding-bottom: 5px;
}
.sidebar .post-desc .title-post h4 {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: Opensans-bd;
    text-transform: uppercase;
}
.sidebar .post-desc .post-text {
    font-size: 11px;
    line-height: 14px;
}
.sidebar .post_list {
    overflow: hidden;
}
.sidebar .post_list .thumbnail-post {
    margin-bottom: 15px;
}
.sidebar .separator {
    margin: 15px 0 30px;
    border-bottom: 1px solid #e1e1e1;
}
.row_post h3 {
    font-family: raleway-bd;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.post-img-date {
    color: #fc5a1b;
    margin-top: 10px;
    /*border: 2px solid #fc5a1b;*/
}
.post-img-date p {
    text-align: center;
    color: #fc5a1b !important;
    font-family: Opensans-reg;
    text-transform: uppercase;
}
.row_post .separator {
    margin-bottom: 50px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
    overflow: hidden;
    width: 100%;
}
.post-img-wrapper {
    position: relative;
    float: left;
    width:  100%;
    height: 260px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
.column_service {
    margin-bottom: 15px;
}
.searched_wrapper {
    margin-bottom: 30px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
}
/* ---------* end: Body *------------- */


/* ---------* Footer *---------------- */
#f-top {
    padding: 50px 0;
    background: #3E3D3D;
}
#f-top .f-title {
    margin-bottom: 20px;
}
#f-top .f-title > * {
    font-size: 20px;
    font-family: raleway-bd;
    color: #fff;
    text-transform: uppercase;
}
#f-top .f-content ul li *,
#f-top .f-content p,
#f-top .f-content *
{
    font-size: 16px;
    color: #fff;
    margin: 0;
}
#copyright {
    background: #000;
    color: #fff;
    font-size: 10px;
    padding: 16px 0;
}
/* ---------* end: Footer *----------- */


/* ---------* Slider *---------------- */
/*.ls-bg {
    width: 100% !important;
    position: absolute;
    left: 0 !important;
    right: 0 !important;
    margin: 0 !important;
}*/
.ls-l.texts-layer {
    position: absolute;
    width: 100% !important;
    display: block;
    color: #fff;
    left: 0 !important;
    right: 0 !important;
}
.ls-l.texts-date {
    top: 185px !important;
}
.ls-l.texts-date .date {
    border: 1px solid #fff;
    padding: 7px 15px;
    background: rgba(255,255,255,.05);
}
.ls-l.texts-event-title {
    top: 243px !important;
}
.ls-l.texts-event-title * {
    margin: 0;
    font-family: OpenSans-bd;
    font-size: 40px;
    text-transform: uppercase;
}
.ls-l.texts-event-description {
    top: 300px !important;
}
.ls-l.texts-event-description * {
    width: 500px;
    margin: auto;
    font-size: 13px;
    text-align: center;
    line-height: 22px;
}
.ls-l.texts-btn {
    top: 395px !important;
}
.ls-l.texts-btn a {
    padding: 8px 15px;
    text-decoration: none;
    cursor: pointer;
    background: rgba(255,255,255,0.8);
    color: #000;
    text-transform: uppercase;
    font-family: Opensans-reg;
    transition: all 0.5s ease-in-out;
    webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.ls-l.texts-btn a:hover {
    background: #fc5a1b;
    color: #fff;
}
/* ---------* end: Slider *----------- */


/* ---------* Custom *---------------- */
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0 !important;
}
.no-side-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.fullwidth {
    width: 100%;
}
.text-orange {
    color: #fc5a1b
}
.btn-orange {
    background: #fc5a1b;
    color: #fff;
    transition: all 0.5s ease-in-out;
    webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}    
.btn-orange:hover {
    background: #000;
    color: #fff;
}
.text-line {
    display: block;
    position:  relative;
    margin: 10px 0 40px;
}
.text-line:before, .text-line:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    top: 15px;
    width: 25%;
}
.text-line:before {
    right: 23%;
}
.text-line:after {
    left: 23%;
}
.text-line .fa.fa-dribbble {
    font-size: 24px;
    color: #222222;
    background: #fff;
    position: relative;
    z-index: 10;
    padding: 5px 15px;
}
.scrolltop-wrapper {
    position: fixed;
    bottom: 5%;
    right: 1%;
    z-index: 9999;
}
.scrolltop-wrapper a {
    border: 2px solid #fc3505;
    display: inline-block;
    width: 43px;
    padding: 4px 0;
    font-size: 22px;
    background: rgba(238, 238, 238, 0.8);
    cursor: pointer;
    color: #fc3505;
    height: 43px;
    text-align: center;
}
/* ---------* end: Custom *----------- */


/* ---------* Override Bootstrap *---- */
#animated-navbar-toggle {
    float: right;
}
.tcon-grid .tcon-grid__item {
    background: #fff;
    color: #fff;
}
.navbar {
    min-height: 1px;
    margin: 0;
}
.navbar-brand {
    width: 65px;
    position: relative;
    height: 100%;
    padding: 12px 0;
}
.navbar-brand>img {
    height: 100%;
    width: 100%;
}
#main-menu > li > a {
    text-transform: uppercase;
    background: none;
    color: #fff;
    font-family: raleway-bd;
    padding: 30px 13px;
    transition: all 0.5s ease-in-out;
    webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 13px;  
}
.navbar-brand {
}
#main-menu > li > a:hover,
#main-menu > li > a:focus,
#main-menu > li.active > a
{
    color: #fc5a1b;
    font-family: raleway-bd;
}
.nav .open > a, 
.nav .open > a:focus,
.nav .open > a:hover {
}
.dropdown-submenu-list {
}
.dropdown-submenu-list li a {
}
.dropdown-submenu-list li a:hover {
}
li.dropdown ul.dropdown-menu {
}
li.dropdown ul.dropdown-menu li:not(:last-child) a {
}
li.dropdown ul.dropdown-menu li a {

}
/* ---------* end: Override *--------- */