@font-face {
    font-family: raleway-reg;
    src: url('../fonts/Raleway-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: raleway-md;
    src: url('../fonts/Raleway-Medium.ttf')  format('truetype');
}
@font-face {
    font-family: raleway-bd;
    src: url('../fonts/Raleway-Bold.ttf')  format('truetype');
}
@font-face {
    font-family: OpenSans-bd;
    src: url('../fonts/OpenSans-Bold.ttf')  format('truetype');
}
@font-face {
    font-family: OpenSans-reg;
    src: url('../fonts/OpenSans-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: OpenSans-sbi;
    src: url('../fonts/OpenSans-SemiboldItalic.ttf')  format('truetype');
}