/* ---------* Reset CSS *------------ */
/*
/* ---------* end: Reset CSS *------- */


/* ---------* Header *---------------- */
header {
    height: 100vh;
}

/* ---------* end: Header *----------- */


/* ---------* Body *------------------ */
.image-box {
    overflow: hidden;
}
.image-box img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.image-box:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.title-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 15px;
    padding: 15px 0;
    background: rgba( 0,0,0,0.5 );
}
.title-overlay h2 {
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    color: #fff;
}
/* ---------* end: Body *------------- */


/* ---------* Footer *---------------- */
/* ---------* end: Footer *----------- */


/* ---------* Custom *---------------- */
/* ---------* end: Custom *----------- */


/* ---------* Override Bootstrap *---- */

/* ---------* end: Override *--------- */