/* ---------* Reset CSS *------------ */
/*
/* ---------* end: Reset CSS *------- */


/* ---------* Header *---------------- */
header {
    height: 350px;
}
#top-content .banner-wrapper {
    /*position: relative;*/
}
#top-content .parallax-window {
    height: 350px;
    display: flex;
    align-items: flex-end;
}
#top-content .parallax-window .parallax-window-content {
    width: 100%;
    padding: 40px 0;
    color: #fff;
    text-shadow: 1px 1px 38px #000;
    font-size: 25px;
    font-family: Opensans-bd;
}
/* ---------* end: Header *----------- */


/* ---------* Body *------------------ */
/* ---------* end: Body *------------- */


/* ---------* Footer *---------------- */
/* ---------* end: Footer *----------- */


/* ---------* Custom *---------------- */
/* ---------* end: Custom *----------- */


/* ---------* Override Bootstrap *---- */

/* ---------* end: Override *--------- */