
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.ls-bg {
	    width: 100% !important;
	    position: absolute;
	    left: 0 !important;
	    right: 0 !important;
	    margin: 0 !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	header {
		height: auto
	}
	header #banner {
	    height: 500px;
	}
	header #top-content .banner-wrapper {
	    position: relative;
	}
	header #top-content .navbar {
	    background: #000;
	}
/*	.ls-bg {
	    width: auto !important;
	    position: absolute;
	    left: auto !important;
	    right: auto !important;
	    margin: auto !important;
	}*/

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	header #top .contact-info ,
	header #top .secondary-nav {
		width: 100%;
		text-align: center;
	}
	.navbar-header {
	    padding: 0 15px;
	}
	.navbar-brand {
	    width: 40px !important;
	}
	#main-menu > li > a {
		padding: 10px 13px !important;
	}
	#main-menu > li.active > a,
	#main-menu > li > a:hover,
	#main-menu > li > a:focus {
		color: #fff !important;
		background: #fc5a1b;
	}
	#main-container {
	    padding-top: 65px !important;
	}
	#main-container article h1, #main-container article h1 a {
	    font-size: 33px !important;
	}
	#main-container article p {
	    font-size: 14px !important;
	    text-align: justify;
	}
	.post-img-wrapper {
	    height: 320px !important;
	}
	.row_post > div:first-child {
	    margin-bottom: 10px;
	}
	.post-img-date {
	    margin-top: 11px;
	    float: left;
	    width: 100%;
	}
	#f-top > .container > div {
	    margin-bottom: 30px;
	}

}
@media only screen and (max-width : 669px) {

}
@media only screen and (max-width : 587px) {

}
@media only screen and (max-width : 549px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}
@media only screen and (max-width : 420px) {
	header #top .secondary-nav {
    	padding: 0;
	}
}


/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}